@model ReportModel
@{ ViewData["Title"] = "Заказы"; }

<div class="text-center text-info">
<h1>Заказы</h1>
</div>
<hr />
<p> <strong> <a class="btn btn-info btn-sm" asp-area="" asp-controller="travel" asp-action="CreateTravel">Оформить</a></strong></p>
<hr />
@using (Html.BeginForm())
{
<p>
Выберите даты для отображения отчета по путешествиям и оплатам</p>
<p>
От: @Html.EditorFor(model => model.From)
</p>
<p>
До: @Html.EditorFor(model => model.To)
</p>
<p>
@Html.EditorFor(model => model.SendMail) Отправить отчёт по путешествиям и оплатам на почту
</p>
<p>
<button type="submit" class="btn btn-info btn-sm">Получить</button>
</p>
}
<hr />
@foreach (var order in ViewBag.orders)
{
<p><strong>Номер: @order.Id </strong></p>
<p>Дата создания: @order.DateCreate</p>
<p>Статус: @order.Status</p>
<p>Цена: @order.Price</p>
<table class="table">
<tr>
<td>Услуга</td>
<td>Описание</td>
<td>Цена</td>
</tr>
@foreach (var service in order.OrderServices)
{
<tr>
<td>@service.ServiceName</td>
<td>@service.Desc</td>
<td>@service.Price</td>
</tr>
}
</table>
if (order.Status != BeautySalonBusinessLogic.Enums.OrderStatus.Принят && ViewBag.Payments != null)
{
<p>Платежи:</p>
<table class="table">
<tr>
<td>Дата</td>
<td>Сумма</td>
</tr>
@foreach (var payment in ViewBag.Payments)
{
if (payment.OrderId == order.Id)
{
<tr>
<td>@payment.DatePayment</td>
<td>@payment.Sum</td>
</tr>
}
}
</table>
}
<hr />
if (order.Status == BeautySalonBusinessLogic.Enums.OrderStatus.Оплачен)
{
<p>Полностью оплачено</p>
<hr />
}
else
{
if (order.Status == BeautySalonBusinessLogic.Enums.OrderStatus.Оплачен_не_полностью)
{
<p>Оплачено: @order.Sum</p>
<hr />
}
<p>
<a href="/Order/Payment/@order.Id">Оплатить</a>
</p> }
<p>
<a href="/Order/SendWordReport/@order.Id">Отправить список услуг в формате .docx</a>
</p>
<p>
<a href="/Order/SendExcelReport/@order.Id">Отправить список услуг в формате .xslx</a>
</p>
<hr />
}
