@model PaymentModel
<div class="text-left text-info">
    <h1>Оплатить заказ №@ViewBag.Order.Id</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Оплачено: @ViewBag.Sum</p>
    <p>Сумма: <input type="number" min="1" max="@ViewBag.Price - @ViewBag.Sum" name="Model.Sum" /></p>
    <input type="hidden" name="Model.OrderId" value="@((int)ViewBag.Order.Id)" />
    <button type="submit" class="btn btn-info btn-sm">Оплатить</button>
}
